{% extends "layout.html" %}
{% block content %}
<h1>Change Password</h1>
<div class="card shadow-lg m-3 p-3">
  <p>Please enter your current password, and then your new password below.</p>  
    <form method="POST" action="">
        {{ form.csrf_token }}
        <p>{{ form.oldPassword.label(class_="form-label") }} {{ form.oldPassword(class_="form-control") }}</p>
        {% for error in form.oldPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.newPassword.label(class_="form-label") }} {{ form.newPassword(class_="form-control") }}</p>
        {% for error in form.newPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.confirmPassword.label(class_="form-label") }} {{ form.confirmPassword(class_="form-control") }}</p>
        {% for error in form.confirmPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <input type="submit" value="Change Password" class="btn btn-primary">
    </form>    
</div>
{% endblock content %}