{% extends "layout.html" %}
{% block content %}
<h1>Forgot Password</h1>
<div class="card shadow-lg m-3 p-3">
  <p>Please enter your email and we will send a link for you to reset your password</p>  
    <form method="POST" action="">
        {{ form.csrf_token }}
        <p>{{ form.email.label(class_="form-label") }} {{ form.email(class_="form-control") }}</p>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <input type="submit" value="Reset" class="btn btn-primary">
    </form>    
</div>
{% endblock content %}