{% extends "layout.html" %}
{% block content %}
<h1>Reset your password</h1>
<div class="card shadow-lg m-3 p-3">
    <form method="POST" action="">
        {{ form.csrf_token }}
        <p>{{ form.password.label(class_="form-label") }} {{ form.password(class_="form-control") }}</p>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.confirmPassword.label(class_="form-label") }} {{ form.confirmPassword(class_="form-control") }}</p>
        <input type="submit" value="Reset" class="btn btn-primary">
    </form>
</div>

{% endblock content %}
